name: NATS.deno

on:
  push:
    tags:
      - '*'
    branches:
      - '*'
  pull_request:
    branches: [master]

jobs:
  test:
    name: ${{ matrix.config.kind }} ${{ matrix.config.os }}
    runs-on: ubuntu-latest
    environment: CI
    strategy:
      matrix:
        deno-version: [1.8.3, 1.9.2, 1.13.2]

    steps:
      - name: Git Checkout Deno Module
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Use Deno Version ${{ matrix.deno-version }}
        uses: denolib/setup-deno@master
        with:
          deno-version: ${{ matrix.deno-version }}

      - name: Set NATS Server Version
        run: echo "NATS_VERSION=v2.6.1" >> $GITHUB_ENV

      - name: Get nats-server
        run: |
          wget "https://github.com/nats-io/nats-server/releases/download/$NATS_VERSION/nats-server-$NATS_VERSION-linux-amd64.zip" -O tmp.zip
          unzip tmp.zip
          mv nats-server-$NATS_VERSION-linux-amd64 nats-server
          rm nats-server/README.md LICENSE

#      - name: Get nats-server
#        run: |
#          wget "https://github.com/aricart/wsgnatsd/releases/download/v0.8.4/nats-server-$NATS_VERSION-linux-amd64.zip" -O tmp.zip
#          unzip tmp.zip
#          mv nats-server-$NATS_VERSION-linux-amd64 nats-server
#          rm nats-server/README.md LICENSE

      - name: Lint Deno Module
        run: deno fmt --check

      - name: Test Deno Module
        env:
          TMPDIR: ${{ runner.temp }}
          CI: true
          NGS_CI_USER: ${{ secrets.NGS_CI_USER }}
        run: deno test --allow-all --unstable --failfast --coverage=./cov

      - name: Build nats.js
        run: deno bundle --unstable src/connect.ts nats.js

      - name: Generate lcov
        run: deno coverage --unstable --lcov ./cov > cov.lcov

      - name: Upload coverage
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.github_token }}
          path-to-lcov: ./cov.lcov

      - name: Release
        uses: softprops/action-gh-release@v1
        if: |
          startsWith(github.ref, 'refs/tags/') &&
          !startsWith(github.ref, 'refs/tags/std/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            nats.js
          draft: true
